<h1>Add a new word</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="name">Word</label>
    <input id="name" name="name" class="form-control" type="text">
 
  </div>
  <button type="submit" class="btn">Go!</button>
</form>